<p>Feel free to choose any course</p>
<p>you are interested in!</p>
<p>Upgrade your professional skills</p>
<p>with our school!</p>

<h2>Name of the program: {{ course.title }}</h2>
<br>
<p><b>Short description of the course: </b>{{ course.info }}</p>
<p><b>Course duration: </b>{{ course.duration_months }} months</p>
<p><b>Total price: $</b>{{ course.price }}</p>
<br>
<h2>Teachers of the course:</h2>

{% for teacher in teachers %}
  <p><a href="{ url 'teacher_details' pk=teacher.id }">{{ teacher }}</a></p>
{% endfor %}
<p><a href="{% url 'main' %}">Go back to the list of courses</a></p>