<p>Feel free to choose any course</p>
<p>you are interested in!</p>
<p>Upgrade your professional skills</p>
<p>with our school!</p>

<h2>Name of the program: {{ course.title }}</h2>
<br>
<p><b>Short description of the course: </b>{{ course.info }}</p>
<p><b>Course duration: </b>{{ course.duration_months }} months</p>
<p><b>Total price: $</b>{{ course.price }}</p>
<br>
<h2>Teachers of the course:</h2>

{% for teacher in teachers %}
  <p><a href="{% url 'teacher_details' pk=0 %}{{ teacher.id }}">{{ teacher }}</a></p>
{% endfor %}

<h2>Already studying:</h2>
{% for student in students %}
  <p>{{ student }}</p>
{% endfor %}

<div style="border: 2px solid #000; padding: 10px; width: 300px; margin: 20px auto;">
  <h2>Join us!</h2>
  <a href="{% url 'add_course' %}"><p>Apply to the course {{ course.title }}</p></a>
</div>
<p><a href="{% url 'main' %}">Go back to the list of courses</a></p>