<h2>HyperSchool</h2>
<p>Hi! Welcome to the site of online HyperSchool!<br>
Feel free to choose any speciality you are interested in!</p>

<a href="../../signup/">Sign up</a><br>
<a href="../../login/">Login</a>

<form method="post" action="{% url 'main' %}">
    {% csrf_token %}
    <input type="text" name="query" class="search">
    <button type="submit">search</button>
</form>

{% if courses|length %}
    <p>{{ courses|length }} courses</p>
    {% for course in courses %}
        <p>schedule/course_details/{{ course.id }}</p>
        <p><a href="{% url 'course_details' pk=0 %}{{ course.id }}">{{ course.title }}</a></p>
    {% endfor %}
{% endif %}